<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
	  xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<title>Refresh-safe CRUD</title>
</h:head>

<body>
	<h3>List students</h3>
	<h:form rendered="#{not empty freshsafeCrudBean.list}">
		<rich:dataTable value="#{freshsafeCrudBean.list}" var="item">
			<rich:column><f:facet name="header">ID</f:facet>#{item.id}</rich:column>
			<rich:column sortBy="#{item.name}" sortOrder="#{freshsafeCrudBean.sortColumnData.nameOrder}">
				<f:facet name="header"><a4j:commandLink value="Name" render="table" action="#{freshsafeCrudBean.sortByName}" /></f:facet>#{item.name}
			</rich:column>
			<rich:column sortBy="#{item.age}" sortOrder="#{freshsafeCrudBean.sortColumnData.ageOrder}">
				<f:facet name="header"><a4j:commandLink value="Age" render="table" action="#{freshsafeCrudBean.sortByAge}" /></f:facet>#{item.age}
			</rich:column>
			<rich:column><f:facet name="header">Education level</f:facet>#{freshsafeCrudBean.educationLevel.calculateEducationLevel(item)}</rich:column>
			<rich:column>
				<h:commandButton value="edit" action="#{freshsafeCrudBean.edit(item)}" />
			</rich:column>
			<rich:column>
				<h:commandButton value="delete" action="#{freshsafeCrudBean.delete(item)}" />
			</rich:column>
		</rich:dataTable>
	</h:form>

	<h:panelGroup rendered="#{empty freshsafeCrudBean.list}">
		<p>No students! Please add students.</p>
	</h:panelGroup>

	<h:panelGroup rendered="#{!freshsafeCrudBean.edit}">
		<h3>Add student</h3>
		<h:form>
			<p>Name: <h:inputText id="addName" value="#{freshsafeCrudBean.item.name}" required="true" requiredMessage="Value is Required" />
				<h:message for="addName" style="color: red"></h:message></p>
			<p>Age: <h:inputText id="addAge" value="#{freshsafeCrudBean.item.age}" required="true" requiredMessage="Value is Required" validatorMessage="Student below 13 are not allowed">
				<f:validateLongRange for="addAge" minimum="13" />
			</h:inputText><h:message for="addAge" style="color: red"></h:message></p>
			<p>
				<h:commandButton value="add" action="#{freshsafeCrudBean.add}" />
				<h:commandButton value="reset" action="#{freshsafeCrudBean.resetAdd}" />
			</p>
		</h:form>
	</h:panelGroup>
	
	<h:panelGroup rendered="#{freshsafeCrudBean.edit}">
		<h3>Edit student #{bean.item.id}</h3>
		<h:form>
			<p>Name: <h:inputText id="editName" value="#{freshsafeCrudBean.item.name}" required="true" requiredMessage="Value is Required" />
					<h:message for="editName" style="color: red"></h:message>
			</p>
			<p>Age: <h:inputText id="editAge"  value="#{freshsafeCrudBean.item.age}" required="true" requiredMessage="Value is Required" validatorMessage="Student below 13 are not allowed">
				<f:validateLongRange for="editAge" minimum="13" />
			</h:inputText><h:message for="editAge" style="color: red"></h:message></p>
			<p>
				<h:commandButton value="save" action="#{freshsafeCrudBean.saveEdit}" />
				<h:commandButton value="cancel" action="#{freshsafeCrudBean.cancelEdit}" />
			</p>
		</h:form>
	</h:panelGroup>
	<p>
		<a href="#{appUrlStore.baseUrl}">Go back to index</a>
	</p>
</body>
</html>