<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
<h:head>
	<title>Simple CRUD</title>
</h:head>

<body>
	<h3>List students</h3>
	<h:form rendered="#{not empty simpleCrudBean.list}">
		<rich:dataTable value="#{simpleCrudBean.list}" var="item" id="table">
			<rich:column><f:facet name="header">ID</f:facet>#{item.id}</rich:column>
			<rich:column sortBy="#{item.name}" sortOrder="#{simpleCrudBean.sortColumnData.nameOrder}">
				<f:facet name="header"><a4j:commandLink value="Name" render="table" action="#{simpleCrudBean.sortColumnData.sortByName}" /></f:facet>#{item.name}
			</rich:column>
			<rich:column sortBy="#{item.age}" sortOrder="#{simpleCrudBean.sortColumnData.ageOrder}">
				<f:facet name="header"><a4j:commandLink value="Age" render="table" action="#{simpleCrudBean.sortColumnData.sortByAge}" /></f:facet>#{item.age}
			</rich:column>
			<rich:column><f:facet name="header">Education level</f:facet>#{simpleCrudBean.educationLevel.calculateEducationLevel(item)}</rich:column>
			<rich:column>
				<h:commandButton value="edit" action="#{simpleCrudBean.edit(item)}" />
			</rich:column>
			<rich:column>
				<h:commandButton value="delete" action="#{simpleCrudBean.delete(item)}" />
			</rich:column>
		</rich:dataTable>
	</h:form>

	<h:panelGroup rendered="#{empty simpleCrudBean.list}">
		<p>No students! Please add students.</p>
	</h:panelGroup>

	<h:panelGroup rendered="#{!simpleCrudBean.edit}">
		<h3>Add student</h3>
		<h:form >
			<p>Name: <h:inputText id="addName" value="#{simpleCrudBean.item.name}" required="true" requiredMessage="Value is Required"/>
				<h:message for="addName" style="color: red"></h:message></p>
			<p>Age: <h:inputText id="addAge" value="#{simpleCrudBean.item.age}" required="true" requiredMessage="Value is Required" validatorMessage="Student below 13 are not allowed">
				<f:validateLongRange for="addAge" minimum="13" />
			</h:inputText><h:message for="addAge" style="color: red"></h:message></p>
			<p>
				<h:commandButton value="add" action="#{simpleCrudBean.add}" />
				<h:commandButton value="reset" action="#{simpleCrudBean.resetAdd}" />
			</p>
		</h:form>
	</h:panelGroup>
	
	<h:panelGroup rendered="#{simpleCrudBean.edit}">
		<h3>Edit student #{simpleCrudBean.item.id}</h3>
		<h:form>
			<p>Name: <h:inputText id="editName" value="#{simpleCrudBean.item.name}" required="true" requiredMessage="Value is Required"/>
				<h:message for="editName" style="color: red"></h:message></p>
			<p>Age: <h:inputText id="editAge" value="#{simpleCrudBean.item.age}" required="true" requiredMessage="Value is Required" validatorMessage="Student below 13 are not allowed">
				<f:validateLongRange for="editAge" minimum="13" />
			</h:inputText><h:message for="editAge" style="color: red"></h:message></p>
			<p>
				<h:commandButton value="save" action="#{simpleCrudBean.saveEdit}" />
				<h:commandButton value="cancel" action="#{simpleCrudBean.cancelEdit}" />
			</p>
		</h:form>
	</h:panelGroup>
	<p>
		<a href="#{appUrlStore.baseUrl}">Go back to index</a>
	</p>
</body>
</html>