<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"    
      xmlns:h="http://java.sun.com/jsf/html">
      
<h:head>
	<title>Simple crud example</title>
</h:head>
    
<body>
<h2>Simple crud example</h2>
<ul>
	<li><a href="#{appUrlStore.simpleCrudUrl}">Simple crud example</a></li>
	<li><a href="#{appUrlStore.freshSafeCrudUrl}">Fresh safe crud example</a></li>
</ul>
</body>
</html>